 .navbar{
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.cart {
    background-color: rgba(90, 230, 125, 0.833);
    font-size: 30px;
    padding: 5px;
    border-radius:4px;
    position: relative;

}

.cartAmount{
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 16px;
    background-color: red;
    color: white;
    padding:3px;
    border-radius: 3px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

body {
    background-color: palegoldenrod;
}

container {
    border: 5px;
    border-color: black;
}

img {
    display: flex;
    height: 200px;
    width: auto;
}

#pd-des {
    background-color: antiquewhite;
    border: 1px;
}